<?xml version="1.0" encoding="UTF-8"?>
<xstructure xmlns="http://plugins.intellij.net/xstructure"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://plugins.intellij.net/xstructure http://plugins.intellij.net/xstructure/ns/xstructure_1_0.xsd"
            implType="default" name="Spring Beans" version="1.0" priority="10">
  <supported-schemas>
    <schema uri="http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"/>
  </supported-schemas>
  <mappings>
    <mapping match="/beans" tip="{description}"/>
    <mapping match="/beans/description" skip="all"/>
    <mapping match="/beans/import" label="{@resource}"/>
    <mapping match="/beans/bean" label="{@id}" tip="{description}" icon="/springBean.png"/>
    <mapping match="/.*/property" label="{@name}"/>
    <mapping match="/.*/property/(list|props|map)" skip="this"/>
    <mapping match="/.*/property/list/value" label="{.}"/>
    <mapping match="/.*/property/props/prop" label="{@key}={.}"/>
    <mapping match="/.*/property/map/entry" label="{@key}={value}" skip="children"/>
  </mappings>
</xstructure>